name: Main Pipeline

on:
  push:
    branches: [ main ]

jobs:
  aqua_scan:
    uses: test-fatima/shared-aqua-scan-component/.github/workflows/trivy-scan.yml@main
    with:
      repo_name: "apps/py-backend"
      repo_url: "https://github.com/test-fatima/apps-py-backend"
    secrets:
      AQUA_API_KEY: ${{ secrets.AQUA_API_KEY }}
      AQUA_API_SECRET: ${{ secrets.AQUA_API_SECRET }}
